<!-- app/views/blogs/index.html.erb -->

<h1>Lista de Blogs</h1>

<% @blogs.each do |blog| %>
  <div class="blog">
    <h2><%= blog.title %></h2>
    <p><%= blog.comment %></p>

    <%= cl_image_tag blog.photo.key, alt: blog.title, style: 'width: 300px; height: auto;' if blog.photo.present? %>

    <%= link_to "Actualizar", edit_blog_path(blog), class: "btn btn-primary" %>
  </div>
<% end %>
