<div class="modal-body">
  <%= simple_form_for @consultation, url: patient_consultation_path(patient_id: @patient.id, id: @consultation.id) do |f| %>

    <div class="form-group" tabindex="-1">
      <%= f.label :diagnostic, "Diagnóstico", class: "control-label font-weight-bold" %>

      <%= f.text_area :diagnostic, class: "form-control", placeholder: "Ingrese el diagnóstico aquí" %>
    </div>
    <%= f.button :submit, "Crear consulta", class: "btn btn-primary" %>
  <% end %>
</div>
