  <div class="container d-flex justify-content-center vh-100 registro mt-3">
    <div class="card card_profile">
      <%= simple_form_for @consultation, url: patient_consultations_path, html: { class: "custom-form" } do |f| %>
        <div tabindex="-1">
          <h1 class="mb-3">Diagnóstico</h1>
          <%= f.text_area :diagnostic, class: "form-control-area", placeholder: "Ingrese el diagnóstico aquí", input_html: { style: "height: 300px;" } %>
        </div>
        <%= f.button :submit, "Crear consulta", class: "btn" %>
      <% end %>
    </div>
  </div>
