<footer class="footer">
  <div class="container-fluid">
    <div class="d-flex footer-images justify-content-around align-items-center">
      <%= image_tag "aliados/fenix-salud-san-bernardino-caracas.png"%>
      <%= image_tag "aliados/sanatrix.png"%>
      <div style="text-align: center">
         <ul class="social-media">
          <li>______________</li>
          <li><a href="https://www.facebook.com/ejemplo" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
          <li><a href="https://www.twitter.com/ejemplo" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/ejemplo" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
          <li>______________</li>
        </ul>
        <p class="m-0">
          <a href="mailto:info@ejemplo.com">info@ejemplo.com</a><br>
          +56 9 1234 5678
        </p>
        <p class="m-0">&copy; 2023 Ejemplo. Todos los derechos reservados.</p>
      </div>
      <%= image_tag "aliados/la-arboleda.png"%>
      <%= image_tag "aliados/logo-hospital-de-clinicas.png"%>
    </div>
  </div>

<style>
.footer-images > img {
  /* width: 100px; */
  height: 100px;
}

</style>
