<div class="wrapper_Leo">
    <div class="row">
      <div class="col-md-6 col-lg-3 ">
        <div class="card_Leo">
          <img src="https://t4.ftcdn.net/jpg/02/60/04/09/360_F_260040900_oO6YW1sHTnKxby4GcjCvtypUCWjnQRg5.jpg" class="card-img-top" alt="Aquiles Salto">
          <div class="card_Leo-body">
            <h5 class="card_Leo-title">Aquiles Salto</h5>
            <p class="card_Leo-text">Aquiles es un pediatra de 5 años de experiencia egresado de la universidad central de Venezuela</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card_Leo">
          <img src="https://img.freepik.com/foto-gratis/doctora-vistiendo-bata-laboratorio-estetoscopio-aislado_1303-29791.jpg" class="card-img-top" alt="Daniela Perez">
          <div class="card_Leo-body">
            <h5 class="card_Leo-title">Daniela Perez</h5>
            <p class="card_Leo-text">Daniela es una ginecóloga de 3 años de experiencia. Egresada de la Universidad de Los Andes</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card_Leo">
          <img src="https://img.freepik.com/free-photo/attractive-young-male-nutriologist-lab-coat-smiling-against-white-background_662251-2960.jpg" class="card-img-top" alt="Aquiles Salto">
          <div class="card_Leo-body">
            <h5 class="card_Leo-title">Alan Brito</h5>
            <p class="card_Leo-text">Alan es un quiroprácta de 7 años de experiencia, egresado de la Universidad Central de Venezuela.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card_Leo ">
          <img src="https://img.freepik.com/free-photo/nurse-portrait-hospital_23-2150780304.jpg?t=st=1710182937~exp=1710186537~hmac=99eac5ae1bf13e5bdddd17888efa616593e4de2ac31c268136a190092f210953&w=740" class="card-img-top" alt="Aquiles Salto">
          <div class="card_Leo-body">
            <h5 class="card_Leo-title">Armando Paredes</h5>
            <p class="card_Leo-text">Armando es un cardiólogo de 4 años de experiencia, egresado de la Universidad Central de Venezuela.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
