<div class="wrapper_Leo">
    <div class="row">
      <div class="col-md-6 col-lg-3 ">
        <div class="card_Leo">
          <img src="https://t4.ftcdn.net/jpg/02/60/04/09/360_F_260040900_oO6YW1sHTnKxby4GcjCvtypUCWjnQRg5.jpg" class="card-img-top" alt="Aquiles Salto">
          <div class="card_Leo-body">
            <h5 class="card_Leo-title">Aquiles Salto</h5>
            <p class="card_Leo-text text_doctor">Aquiles es un pediatra de 5 años de experiencia egresado de la universidad central de Venezuela</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card_Leo">
          <img src="https://img.freepik.com/foto-gratis/doctora-vistiendo-bata-laboratorio-estetoscopio-aislado_1303-29791.jpg" class="card-img-top" alt="Daniela Perez">
          <div class="card_Leo-body">
            <h5 class="card_Leo-title">Daniela Perez</h5>
            <p class="card_Leo-text text_doctor">Daniela es una ginecóloga de 3 años de experiencia. Egresada de la Universidad de Los Andes</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card_Leo">
          <img src="https://img.freepik.com/free-photo/attractive-young-male-nutriologist-lab-coat-smiling-against-white-background_662251-2960.jpg" class="card-img-top" alt="Aquiles Salto">
          <div class="card_Leo-body">
            <h5 class="card_Leo-title">Alan Brito</h5>
            <p class="card_Leo-text text_doctor">Alan es un quiroprácta de 7 años de experiencia, egresado de la Universidad Central de Venezuela.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card_Leo ">
          <img src="https://img.freepik.com/free-photo/nurse-portrait-hospital_23-2150780304.jpg?t=st=1710182937~exp=1710186537~hmac=99eac5ae1bf13e5bdddd17888efa616593e4de2ac31c268136a190092f210953&w=740" class="card-img-top" alt="Aquiles Salto">
          <div class="card_Leo-body">
            <h5 class="card_Leo-title">Armando Paredes</h5>
            <p class="card_Leo-text text_doctor">Armando es un cardiólogo de 4 años de experiencia, egresado de la Universidad Central de Venezuela.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  </br><h1 style="margin:20px;">Ubica a tus doctores</h1></br>

<div class="info-container">
  <div class= "px-3 flex-fill">
  <div class="map-container w-100">
    <div style="width: 100%; height: 500px;"
         data-controller="map"
         data-map-markers-value="<%= @markers.to_json %>"
         data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
  </div>
  <div class="separacion"></div>
  <div class="info-area ps-3">
    <h3 style="color: #F2BF5E">Contactanos:</h3>
      <P><i class="fa-solid fa-phone"></i> LLAMANOS</P>
      <P> 0424-2417842 </P>
      <P><i class="fa-solid fa-envelope"></i> CONSULTANOS </P>
      </P>selfcare.atencion@gmail.com</P>
      <P><i class="fa-solid fa-clock"></i> HORARIO DE TRABAJO </P>
      <P>Lun - Vier | 8:00 a.m - 5:00 p.m</P>
      <%# <p><div class="footer-links">
    <a href="https://github.com/tuempresa"><i class="fa-brands fa-github"></i></a>
    <a href="https://instagram.com/tuempresa"><i class="fab fa-instagram"></i></a>
    <a href="https://facebook.com/tuempresa"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/tuempresa"><i class="fab fa-twitter"></i></a>
    <a href="https://linkedin.com/company/tuempresa"><i class="fab fa-linkedin"></i></a>
  </div></p> %>
  </div>
</div>
