<div class="banner justify-content-center align-items-center ">
  <div class="text-center">
    <% if user_signed_in? && current_user.role == false  %>
      <h1>Bienvenidos <br>a SELFCARE</h1>
      <p>El cuidado de tu historial medico <br>en tus manos.</p>
      <button class="btn">Buscar medicos</button>
    <% elsif user_signed_in? && current_user.role == true   %>
      <h2 id="titulodoc">Ingrese datos del Px</h2>
      <input type="text" class="searchTerm" placeholder="Cedula, Pasaporte, DNI...">
      <button type="submit" class="searchButton">
      <i class="fa fa-search"></i>
      </button>
      <%= form_with url: buscar_path(), method: :get , id:"buscador"  do %>
      <%= text_field_tag :query,
            params[:query],
            class: "searchTerm",
            placeholder: "Cedula, Pasaporte, DNI..."
        %>
      <%#= submit_tag class: "searchButton" %>
      <i class="fa fa-search"></i>
    <% end %>
      <p>Se debera ingresar UN dato numerico de identificación </p>
    <% else %>
      <h1>SELFCARE</h1>
      <p>El cuidado de tu historial medico <br>en tus manos.</p>
      <%= link_to "Registrarse", new_user_registration_path, class:"btn"%>
      <% end  %>
  </div>
</div>

<!--tarjetas-->
<div class="cardshome">
  <div class="cards  d-flex justify-content-center align-items-center ">
    <div class="card card-item-01">
    <div class="card__image-wrapper">
    <img class="card__image" src="https://images.pexels.com/photos/1410235/pexels-photo-1410235.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Food" width="280" height="420">
    </div>
    <div class="card__content">
        <h2 class="card__title">Recetas</h2>
        <p class="card__text">"El desayuno es la comidmass importante del dia", es la frase mas escuchada... visita nuestro blo</p>
    </div>
    </div>
    <div class="card card-item-02">
    <div class="card__image-wrapper">
    <img class="card__image" src="https://images.pexels.com/photos/8770399/pexels-photo-8770399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Mountains" width="280" height="420">
    </div>
    <div class="card__content">
        <h2 class="card__title">Ejercicios</h2>
        <p class="card__text">Lorem ipsum dolor sit amet consectetur    adipisicing elit nulla cumque. massa placerat duis ultricies lacus sed turpis tincidunt id aliquet risus feugiat in ante metus dictum at tempor commodo ullamcorper.</p>
    </div>
    </div>
    <div class="card card-item-03">
    <div class="card__image-wrapper">
    <img class="card__image" src="https://images.pexels.com/photos/5214995/pexels-photo-5214995.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Road" width="280" height="420">
    </div>
    <div class="card__content">
        <h2 class="card__title">Doctores</h2>
        <p class="card__text">Lorem ipsum dolor sit amet consectetur    adipisicing elit nulla cumque. massa placerat duis ultricies lacus sed turpis tincidunt id aliquet risus feugiat in ante metus dictum at tempor commodo ullamcorper.</p>
    </div>
    </div>
  </div>
</div>

<!--seccion de sobre nosotros-->
<section id="about-us" class="alt">
  <div class="row align-items-center">
    <div class="col">
      <img src="https://images.pexels.com/photos/5407206/pexels-photo-5407206.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="About Us">
    </div>
  <div class="col text-col">
    <h1>Sobre nosotros</h1>
    <p>Selfcare es la plataforma líder en soluciones digitales para la gestión de historiales médicos. Nuestra misión es transformar la atención médica al proporcionar a los profesionales de la salud y a los pacientes una herramienta integral y segura para acceder, registrar y analizar información clínica de manera eficiente.</p>
    <p>Nació de la pasión por la innovación y la mejora continua en el campo de la salud. Fundada en el año 2024 por un equipo multidisciplinario de médicos, ingenieros y diseñadores, nuestra empresa se ha dedicado a desarrollar una solución integral que simplifique la gestión de historiales médicos</p>
  </div>
  </div>
</section>

<!--seccion de sabias que-->
<section id="about-us" class="alt"><div class="col text-col">
    <h1>Sabias que...</h1>
    <p>Las muertes registradas en venezuela por negligencia médica es en promedio de 699 personas al años?</p>
    <p>un informe alarmante, se ha revelado que las muertes por negligencia médica han experimentado un preocupante aumento en Venezuela. Durante el año 2022, 699 personas perdieron la vida debido a errores médicos y mala praxis1. Estos trágicos sucesos han dejado a las familias devastadas y han puesto de manifiesto la necesidad urgente de abordar este problema en nuestro país.</p>
    <p> Estos lamentables sucesos han puesto de manifiesto la necesidad urgente de abordar la seguridad y la calidad en la atención médica en todo el mundo.

Es fundamental que los sistemas de salud, los profesionales médicos y las autoridades trabajen en conjunto para prevenir errores médicos y garantizar la seguridad de los pacientes. La transparencia, la formación continua y la implementación de protocolos rigurosos son pasos cruciales para reducir la incidencia de mala praxis y proteger la vida de las personas</p>
  <div class="row align-items-center">

  </div>
  </div>
</section>
