<!DOCTYPE html>
<html lang="en">
<head>
<%# banner %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card-1 Example</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
    <style>
        .card-1 {
          width: 80rem; /* Modifica el ancho de la tarjeta según sea necesario */
          height: 30em;
          margin: auto; /* Centra la tarjeta horizontalmente */
          margin-top: 20px; /* Añade un margen superior para separar la tarjeta del borde superior */
          position: relative; /* Añade posición relativa a la tarjeta */
          background-color: #1E593E;
          border-radius: 13px; /* Redondea las esquinas de la tarjeta */
          overflow: hidden;
          box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
          -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
          -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
          transition: transform 0.3s ease; /* Agrega transición para el efecto de movimiento */
        }
        .card-1:hover {
            transform: scale(1.05); /* Escala la tarjeta cuando se pasa el ratón por encima */
        }
        .card-1-img-bottom-right {
            position: absolute;
            bottom: 0;
            right: -50px; /* Ajusta la posición de la imagen más a la derecha */
            max-width: 75%;
            object-fit: cover; /* Ajusta el tamaño y la posición de la imagen dentro del contenedor */
            height: 100%; /* Ajusta la altura de la imagen para que coincida con la tarjeta */
            transition: transform 0.3s ease; /* Agrega transición para el efecto de movimiento */
        }
        .card-1:hover .card-1-img-bottom-right {
            transform: translateX(20px); /* Mueve la imagen hacia la derecha cuando se pasa el ratón por encima */
        }
        .card-1-body {
            position: absolute;
            top: 0;
            left: 0;
            padding-right: calc(50% + 1px); /* Ajusta el espaciado para que el texto no se superponga con la imagen */
            height: 100%;
        }
        .card-1-title,
        .card-1-text,
        .btn {
            position: relative; /* Añade posición relativa al texto y al botón */
        }
        .btn.btn-primary {
            background-color: #038C4C; /* Cambia el color de fondo del botón a naranja */
            border-color: #038147; /* Cambia el color del borde del botón a naranja */
            /* Aplica los estilos del efecto btn-5 */
            border: 0 solid;
            box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
            outline: 1px solid;
            outline-color: rgba(255, 255, 255, 0.5);
            outline-offset: 0px;
            text-shadow: none;
            transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
        }
        .btn.btn-primary:hover {
            background-color: #038C4C; /* Cambia el color de fondo del botón a naranja más claro al pasar el ratón */
            border-color: #038C4C; /* Cambia el color del borde del botón a naranja más claro al pasar el ratón */
            /* Aplica los estilos del efecto btn-5 al pasar el ratón */
            border: 1px solid;
            box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
            0 0 20px rgba(255, 255, 255, 0.2);
            outline-color: rgba(255, 255, 255, 0);
            outline-offset: 13px;
            text-shadow: 1px 1px 2px #427388;
        }
        .card-1-title{
          font-size: 50px;
          font-family: "Madimi One", sans-serif;
          font-weight: 400;
          font-style: normal;
          color: #F2BF5E;
        }

        .card-1-body p {
          color: #FFFF;
          .madimi-one-regular {
          font-family: "Madimi One", sans-serif;
          font-weight: 400;
          font-style: normal;
          }
        }
        hr{
          width: 100%;
          box-shadow:inset 0 0 20px rgba(255, 255, 255, 0.5),
          0 0 20px rgba(255, 255, 255, 0.2);
          outline-color: rgba(255, 255, 255, 0);
        }

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
  }
}

    </style>
</head>
<body>
<% if user_signed_in?  %>
  <% if current_user.role == true %>
    <h1>SOY UN DOCTOR</h1>
  <% else %>
    <h1>SOY UN PACIENTE</h1>
  <% end %>
<% end %>
<div class="card-1" style="background-color: rgba(30, 89, 62, 0.5);">
  <div class="card-1-body">
    <h5 class="card-1-title">Selfcare</h5>
    <p class="card-1-text">El sistema de conexión entre doctores y pacientes que permite a los doctores acceder a la lista de alergias de sus pacientes en tiempo real. Esta información vital ayuda a los doctores a tomar decisiones informadas sobre el tratamiento de sus pacientes, mejorando la seguridad y la calidad de la atención médica.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>

<div class="banner justify-content-center align-items-center ">
  <div class="text-center">
    <h1>Bienvenidos <br>a SELFCARE</h1>
    <p>El cuidado de tu historial medico a tu mano.</p>
    <button class="btn">Buscar medicos</button>

  </div>
</div>
<div class="cardshome">
  <div class="cards  d-flex justify-content-center align-items-center ">
    <div class="card card-item-01">
    <div class="card__image-wrapper">
    <img class="card__image" src="https://images.pexels.com/photos/1410235/pexels-photo-1410235.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Food" width="280" height="420">
    </div>
    <div class="card__content">
        <h5 class="card__category">Category</h5>
        <h2 class="card__title">Title Goes Here</h2>
        <p class="card__text">Lorem ipsum dolor sit amet consectetur    adipisicing elit nulla cumque. massa placerat duis ultricies lacus sed turpis tincidunt id aliquet risus feugiat in ante metus dictum at tempor commodo ullamcorper.</p>
    </div>
    </div>
    <div class="card card-item-02">
    <div class="card__image-wrapper">
    <img class="card__image" src="https://images.pexels.com/photos/8770399/pexels-photo-8770399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Mountains" width="280" height="420">
    </div>
    <div class="card__content">
        <h5 class="card__category">Category</h5>
        <h2 class="card__title">Title Goes Here</h2>
        <p class="card__text">Lorem ipsum dolor sit amet consectetur    adipisicing elit nulla cumque. massa placerat duis ultricies lacus sed turpis tincidunt id aliquet risus feugiat in ante metus dictum at tempor commodo ullamcorper.</p>
    </div>
    </div>
    <div class="card card-item-03">
    <div class="card__image-wrapper">
    <img class="card__image" src="https://images.pexels.com/photos/5214995/pexels-photo-5214995.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Road" width="280" height="420">
    </div>
    <div class="card__content">
        <h5 class="card__category">Category</h5>
        <h2 class="card__title">Title Goes Here</h2>
        <p class="card__text">Lorem ipsum dolor sit amet consectetur    adipisicing elit nulla cumque. massa placerat duis ultricies lacus sed turpis tincidunt id aliquet risus feugiat in ante metus dictum at tempor commodo ullamcorper.</p>
    </div>
    </div>
  </div>
</div>


<div class="abouthome">
  <div class="d-flex">
    <img src="https://images.pexels.com/photos/5327864/pexels-photo-5327864.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" width="280" height="420">
    <div class="title">
      <h2>Sobre <br>nosotros</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat omnis quidem, incidunt aut culpa delectus atque commodi laborum suscipit deserunt nulla consectetur quia doloribus facilis praesentium, aliquam labore eveniet assumenda.</p>
    </div>
  </div>
</div>


