<div class="banner justify-content-center align-items-center ">
  <div class="text-center">
    <h1>Bienvenidos <br>a SELFCARE</h1>
    <p>El cuidado de tu historial medico a tu mano.</p>
    <button class="btn">Buscar medicos</button>
  </div>
</div>
<div class="cardshome">
  <div class="cards  d-flex justify-content-center align-items-center ">
    <div class="card card-item-01">
    <div class="card__image-wrapper">
    <img class="card__image" src="https://images.pexels.com/photos/1410235/pexels-photo-1410235.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Food" width="280" height="420">
    </div>
    <div class="card__content">
        <h2 class="card__title">Recetas</h2>
        <p class="card__text">Lorem ipsum dolor sit amet consectetur    adipisicing elit nulla cumque. massa placerat duis ultricies lacus sed turpis tincidunt id aliquet risus feugiat in ante metus dictum at tempor commodo ullamcorper.</p>
    </div>
    </div>
    <div class="card card-item-02">
    <div class="card__image-wrapper">
    <img class="card__image" src="https://images.pexels.com/photos/8770399/pexels-photo-8770399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Mountains" width="280" height="420">
    </div>
    <div class="card__content">

        <h2 class="card__title">Ejercicios</h2>
        <p class="card__text">Lorem ipsum dolor sit amet consectetur    adipisicing elit nulla cumque. massa placerat duis ultricies lacus sed turpis tincidunt id aliquet risus feugiat in ante metus dictum at tempor commodo ullamcorper.</p>
    </div>
    </div>
    <div class="card card-item-03">
    <div class="card__image-wrapper">
    <img class="card__image" src="https://images.pexels.com/photos/5214995/pexels-photo-5214995.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Road" width="280" height="420">
    </div>
    <div class="card__content">

        <h2 class="card__title">Doctores</h2>
        <p class="card__text">Lorem ipsum dolor sit amet consectetur    adipisicing elit nulla cumque. massa placerat duis ultricies lacus sed turpis tincidunt id aliquet risus feugiat in ante metus dictum at tempor commodo ullamcorper.</p>
    </div>
    </div>
  </div>
</div>


<section id="about-us" class="alt">
  <div class="row align-items-center">
    <div class="col">
      <img src="https://images.pexels.com/photos/5407206/pexels-photo-5407206.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid" alt="About Us">
    </div>
  <div class="col text-col">
    <h1>Sobre nosotros</h1>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
        eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
    </p>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
        eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit,
    </p>
  </div>

  </div>
</section>
