<div class="banner justify-content-center align-items-center ">
  <div class="text-center">
    <h1>Bienvenidos <br>a SELFCARE</h1>
    <p>El cuidado de tu historial medico a tu mano.</p>
    <button class="btn">Buscar medicos</button>
  </div>
</div>
<div class="cardshome">
  <div class="cards  d-flex justify-content-center align-items-center ">
    <div class="card card-item-01">
    <div class="card__image-wrapper">
    <img class="card__image" src="https://images.pexels.com/photos/1410235/pexels-photo-1410235.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Food" width="280" height="420">
    </div>
    <div class="card__content">
        <h5 class="card__category">Category</h5>
        <h2 class="card__title">Title Goes Here</h2>
        <p class="card__text">Lorem ipsum dolor sit amet consectetur    adipisicing elit nulla cumque. massa placerat duis ultricies lacus sed turpis tincidunt id aliquet risus feugiat in ante metus dictum at tempor commodo ullamcorper.</p>
    </div>
    </div>
    <div class="card card-item-02">
    <div class="card__image-wrapper">
    <img class="card__image" src="https://images.pexels.com/photos/8770399/pexels-photo-8770399.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Mountains" width="280" height="420">
    </div>
    <div class="card__content">
        <h5 class="card__category">Category</h5>
        <h2 class="card__title">Title Goes Here</h2>
        <p class="card__text">Lorem ipsum dolor sit amet consectetur    adipisicing elit nulla cumque. massa placerat duis ultricies lacus sed turpis tincidunt id aliquet risus feugiat in ante metus dictum at tempor commodo ullamcorper.</p>
    </div>
    </div>
    <div class="card card-item-03">
    <div class="card__image-wrapper">
    <img class="card__image" src="https://images.pexels.com/photos/5214995/pexels-photo-5214995.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Road" width="280" height="420">
    </div>
    <div class="card__content">
        <h5 class="card__category">Category</h5>
        <h2 class="card__title">Title Goes Here</h2>
        <p class="card__text">Lorem ipsum dolor sit amet consectetur    adipisicing elit nulla cumque. massa placerat duis ultricies lacus sed turpis tincidunt id aliquet risus feugiat in ante metus dictum at tempor commodo ullamcorper.</p>
    </div>
    </div>
  </div>
</div>
<div class="abouthome">
  <div class="d-flex">
    <div class="title">
      <h2>Sobre <br>nosotros</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat omnis quidem, incidunt aut culpa delectus atque commodi laborum suscipit deserunt nulla consectetur quia doloribus facilis praesentium, aliquam labore eveniet assumenda.</p>
    </div>
    <div class="image-right d-flex justify-content-center align-items-center">
      <img src="https://images.pexels.com/photos/5327864/pexels-photo-5327864.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" width="280" height="420">
    </div>
  </div>
</div>

----
view_doctor_ar
      <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

