<div class="container">
  <div>
    <div class="card-body container pb-3">
      <%= simple_form_for(@doctor) do |f| %>
      <h1>Completa los siguientes datos:</h1>
        <div class="form-inputs">
           <%= f.input :specialty,
                label: "Especialidad",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "specialty" } %>

            <%= f.input :sap,
                label: "Sap",
                required: true,
                autofocus: true,
                input_html: { autocomplete: "sap" } %>
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
