:root {
  --main-color: #C9DFF2;
  --element-color: #038C65;
  --bottom-color: #038C4C;
  --title-color: #fff;
  --section-color: #1E593E;
  --componentes-color: #8F0503;
}

body{
  background-image: radial-gradient( circle 759px at -6.7% 50%,  rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgba(75,118,69,1) 100.3% );
}
h1 {
  font-family: Merriweather;
	font-weight: bold;
	margin: 0;
  color: var(--title-color);
  text-shadow: 4px 3px 8px rgba(0,0,0,0.4);
}

h2 {
	text-align: center;
  font-family: Montserrat;
}
h5{
  font-family: Merriweather;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: var(--componentes-color);
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
li{
  font-family: Montserrat;
}
