:root {
  --main-color: #C9DFF2;
  --element-color: #038C65;
  --bottom-color: #038C4C;
  --title-color: #F2BF5E;
  --section-color: #1E593E;
  --componentes-color: #8F0503;
}

body{
  background-color: var(--main-color);
}
