
.btn {
  font-size:15px;
  font-family: Montserrat;
  width: auto;
  height: auto;
  color: var(--title-color);
  border-radius: 27px;
  
  background: var(--bottom-color);
}

.btn:hover {
  background: #5cbf2a
}
