.card_profile{
  max-width: 500px;
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 50px;
}


.list-group-item {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-consultations{
  max-width: 500px;
  margin: 50px;
}
