.wrapper_Leo {
  display: flex;
  width: 90%;
  justify-content: space-around;
}

.card_Leo {
  max-width: 280px;
  max-height: 360px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin-top: 25px;
}

.card_Leo:hover {
  transform: translateY(20px);
}

.card_Leo:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}

.card_Leo:hover:before {
  opacity: 1;
}

.card_Leo-text {
  opacity: 1;
  transform: translateY(0px);
  text-align: center;

}

.card_Leo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 15px;
}

.card_Leo-text {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
  text-align: justify;
  margin: auto;
}

.card_Leo:hover .card_Leo-text {
  opacity: 1;
  transform: translateY(0px);
}

.card_Leo .card_Leo-text h1 {
  margin: 0px;
}

.card_Leo .card_Leo-text .text_doctor {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}


.card_Leo button:hover {
  background: dodgerblue;
  color: white;
}

.card_Leo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}

.card_Leo:hover::before {
  opacity: 1;
}

.card_Leo-body {
  position: relative;
  z-index: 2;
}
.card_Leo .card_Leo-title {
  opacity: 0;
  color: white;
  text-shadow: 2px 2px 3px black;
  margin-top: 150px;
}

.card_Leo:hover .card_Leo-title {
  opacity: 1;
  margin-bottom: 70px;
}

.text_doctor{
  margin-top: 50px;
}

@media(max-width: 900px) {
  .card_Leo {
    margin-bottom: 25px;
    margin-top: 25px;
  }
}

//

.blog-container {
  width: 90%;
  margin: auto;
}

.card-blog .row {
  flex-wrap: wrap;
  width: 300px;
  height: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: grid;
  place-items: center;
}

.card-blog-1 {
  flex: 1 1 200px;
  grid-area: 1 / 2;
}

 .card-img-top {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
 }

 .row-cols-md-3 > * {
  flex: 1 3 auto;
  width: 32%;
  margin-left: 15px;
  width: 30%;
 }

 .vermas{
  text-decoration: underline;
  :hover{
    cursor: pointer;
  }
 }
