.blog-container{
  width: 90%;
  margin: auto;
  border-radius: 3%;
}


.blogs-border{
  border-radius: 8px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12);
  background-color: #f7f7f7;
}

.blogs-border:hover {
  transform: translateX(5px) translateY(5px);
}

.card-blog-title {
  max-width: 100%; /* Adjust the value for desired width */
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden; /* Hide excess content */
  text-overflow: ellipsis; /* Add ellipsis (...) for long titles */
}
