.checkbox-green {
  width: 25px;
  height: 25px;
  margin: 25px;

}

.checkbox-green:checked {
  background-color: green;
}

.checkbox-red {
  width: 25px;
  height: 25px;
  margin: 25px;
}

.checkbox-red:checked {
  background-color: red;
}
