.map-container {
  display: flex;
  border: 5px solid #485767;
}

.map-container > div {
  border: 1px solid #ddd;
  padding: 10px;
}

.info-area {
  flex: 1;
  width: 100%;
  max-height: 100vh;
}

.info-container {
  display: flex;
}

.separacion{
  width: 1px;
  background-color: #68798b;
}
