.navbar .navbar-collapse {
  flex-grow: 0;
}

.imgnavbar{
  height:50px;
  width:100px;
  border-radius: 5px;
  border: 3px solid black;
}

.fondo{
  background-color: #8F0503;
}
nav{
  width: 100%;
  margin-bottom: 100px;
}
